*
!**/*.json
!**/*.lock
!.prettierrc

# config
!./config

# common
!./packages/common/src

# scripts
!./packages/scripts/src

# server
!./packages/server/src
!./packages/server/generated

# sources
!./packages/sources/src

# utils
!./packages/utils/src
