# https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/

service: krypto-rates

app: krypto-rates
org: raptor

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: us-east-1
  memorySize: 256
  timeout: 10
  versionFunctions: false
  environment:
    TZ: UTC
    NODE_ENV: production
  apiGateway:
    # Starting with v3.0.0, API Gateway naming will be changed to ${service}-${stage}
    # https://www.serverless.com/framework/docs/deprecations/#AWS_API_GATEWAY_NAME_STARTING_WITH_SERVICE
    shouldStartNameWithService: true

plugins:
  - serverless-dotenv-plugin
  - serverless-webpack
  - serverless-offline

custom:
  dotenv:
    basePath: ../../
    include:
      - REDIS_URL
      - CURRENCYLAYER_ACCESS_KEY
      - CURRENCYLAYER_TIMEFRAME
      - COINLAYER_ACCESS_KEY
      - COINLAYER_TIMEFRAME
      - CRYPTOCOMPARE_API_KEY
      - NOMICS_API_KEY
      - SBIF_API_KEY
  webpack:
    packager: yarn
    keepOutputDirectory: true
    includeModules:
      forceExclude:
        - aws-sdk
        - prettier
  serverless-offline:
    port: ${env:PORT, '4000'}

functions:
  graphql:
    handler: handler.graphql
    events:
      - http:
          path: /
          method: post
          cors: true
      - http:
          path: /
          method: get
          cors: true
